

<div id="localizacao">

  <span id="localizacao_titulo">
    <img src="../images/localizacao_titulo.jpg">
  </span>

  <span id="info_localizacao">
    <h1><%=@store.name%></h1>

     <p>Rua <%=@store.street%>, <%=@store.number%> - <%=@store.neighborhood%> - <%=@store.city%> - <%=@store.state%></p>

     <p>Tel: <%=@store.telephone%><br>
        Fax: <%=@store.fax%></p>
  </span>

  <span id="img_localizacao">
	<iframe width="367" height="254" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;q=R.+Joaquim+Carlos,+1119+-+Pari,+S%C3%A3o+Paulo,+03019-000&amp;sll=-14.179186,-50.449219&amp;sspn=82.21811,158.027344&amp;ie=UTF8&amp;cd=1&amp;geocode=FWMCmf4d99M4_Q&amp;split=0&amp;hq=&amp;hnear=R.+Joaquim+Carlos,+1119+-+Pari,+S%C3%A3o+Paulo,+03019-000&amp;t=h&amp;z=14&amp;ll=-23.526813,-46.607369&amp;output=embed"></iframe><br /><small><a href="http://www.google.com.br/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;q=R.+Joaquim+Carlos,+1119+-+Pari,+S%C3%A3o+Paulo,+03019-000&amp;sll=-14.179186,-50.449219&amp;sspn=82.21811,158.027344&amp;ie=UTF8&amp;cd=1&amp;geocode=FWMCmf4d99M4_Q&amp;split=0&amp;hq=&amp;hnear=R.+Joaquim+Carlos,+1119+-+Pari,+S%C3%A3o+Paulo,+03019-000&amp;t=h&amp;z=14&amp;ll=-23.526813,-46.607369" style="color:#0000FF;text-align:left">Exibir mapa ampliado</a></small>
    <!--<img src="../images/loja_endereco.jpg">-->
  </span>
</div>

<%content_for :insurances_box do%>
  <%=render :partial => "layouts/tipos_seguros", :locals => {:var => 2 , :div_name => "seg_emp_tipos_seguros"}%>
<%end%>

