<div id="menu_esquerda">
   <div id="menu_esquerda_img" class="menu_img"><img src="../images/menu_fatiado_01.png" /></div>
   <div id="menu_esquerda_img" class="menu_img"> <%= link_to " ", {:controller => "home", :action => "index"} , :class => "menu_img_home" %></div>
   <div id="menu_esquerda_img" class="menu_img"> <%= link_to " ", {:controller => "about_company", :action => "index"} , :class => "menu_img_quem_somos" %></div>
   <div id="menu_esquerda_img_produto" class="menu_img"> <%= link_to " " , {:controller => "products", :action => "index", :type => "Pessoais"} ,:class => "menu_img_produtos"%>
      <ul id="nav">
        <li><%= link_to "Seguros Empresariais" , {:controller => "products", :action => "index", :type => "Empresarias"} %> </li>
        <li><%= link_to "Seguros Pessoais"     , {:controller => "products", :action => "index", :type => "Pessoais"} %>    </li>
      </ul>
   </div>
   <div id="menu_esquerda_img" class="menu_img"><%= link_to " ", {:controller => "insurance_company_list", :action => "index"} , :class => "menu_img_seguradora" %></div>
   <div id="menu_esquerda_img" class="menu_img"><%= link_to " ", {:controller => "quotations", :action => "index"} , :class => "menu_img_cotacao" %></div>
   <div id="menu_esquerda_img" class="menu_img"><%= link_to " ", {:controller => "contacts", :action => "index"} , :class => "menu_img_contato" %></div>
   <div id="menu_esquerda_img" class="menu_img"><%= link_to " ", {:controller => "locations", :action => "index"} , :class => "menu_img_localizacao" %></div>
   <div id="menu_esquerda_img" class="menu_img"><img src="../images/menu_fatiado_09.jpg" /></div>
</div>

