<h2>Administracao</h2>
  <ul>
    <li><%= link_to "Segurados Afiliadas"  , :controller => "affiliates" %>              </li>
    <li><%= link_to "Parceiros Afiliadas"  , :controller => "partners" %>                </li>
    <li><%= link_to "Tipo de Seguros"      , :controller => "type_insurances" %>         </li>
    <li><%= link_to "Produtos"             , :controller => "insurance_business_admin" %></li>
    <li><%= link_to "Quem Somos"           , :controller => "about_company_admin" %>     </li>
    <li><%= link_to "Contatos de Clientes" , :controller => "contacts_admin" %>          </li>
    <li><%= link_to "Dados da Loja"        , :controller => "stores_admin" %>            </li>
  </ul>

