<div id="<%= div_name%>">
  <% TypeInsurance.find_insurance(var).each do |type| %>
    <div id="tipo_seguros_<%=type.name%> " class="tipo_seguros_box">
      <span id="titulo_aut" class="tipo_seg_titulo">
		<%- insurance_business = InsuranceBusiness.find_by_insurance_name(type.name)%>
		<%=link_to type.name, "/seguros?id=#{!insurance_business.first.nil? ? insurance_business.first.id : ''}"%></span>
      <span id="img_tupo_seg" class="img_tipo_seg">
        <img src="../images/<%=type.url_img%>">
      </span>
      <span id="tipo_seg_desc_aut" class="tipo_seg_desc"><%=type.description%></span>
      <!--<span id="saiba_mais" class="saiba_mais"><a href="">Saiba Mais</a></span>-->
    </div>
  <% end %>
</div>

